#prog-bar-container {
    border: 1px solid gainsboro;
    border-top:none;
    border-bottom:none;
}

#stats1 {
    border-top-left-radius: .25rem !important;
}
#stats3 {
    border-top-right-radius: .25rem !important;
}
#words {
    border-bottom-left-radius: .25rem !important;
    border-bottom-right-radius: .25rem !important;
}