#prog-bar-container {
    border: 1px solid gainsboro;
    border-top:none;
    border-bottom:none;
}

#stats1 {
    border-top-left-radius: .25rem !important;
}
#stats3 {
    border-top-right-radius: .25rem !important;
}
#words {
    border-bottom-left-radius: .25rem !important;
    border-bottom-right-radius: .25rem !important;
}

#correct {
    color:#fff;
    background-color:#28a745;
    border-radius: .25rem;
}

#incorrect {
    color:#fff;
    background-color:#dc3545;
    border-radius: .25rem;
}